// Tamaños
.h1{
    font-size: 3em;
}

.h2{
    font-size: 2em;
}

.h3{
    font-size: 1.5em;
}

// Estilos
.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}

