.container-menu{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 00px 40px;
    overflow: visible;

    &-logo{
        width: 70px;
    }
}

.fa-solid{
    font-size: 50px;
    transition: .2s all ease;
    cursor: pointer;
    color: white;
    z-index: 10;
    position: fixed;
    right: 2%;
}

.fa-solid:hover{
    transform: scale(1.09);
    transform: rotateZ(180deg);
}

// ESTILOS DE MENU DROPDOWN
.menu-dropdown{
    position: absolute;
    width: 100%;
    height: auto;
    color: var(--blackTextColor);
    top: -100%;
    left: 0;
    background: var(--cuarto900);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    transition: .5s all ease;
    z-index: 9;
}

.menu-dropdown-toggle{
    top: 0%;
    position: fixed;
}